{% extends '::base.html.twig' %}

{% form_theme edit_form 'PetTrafficKingStoreBundle:Form:forms.html.twig' %}
{% form_theme delete_form 'PetTrafficKingStoreBundle:Form:forms.html.twig' %}

{% block body -%}
    <div class="well col-sm-4 col-sm-offset-3">
        <div class="col-sm-4 col-sm-offset-4">
            <a class="btn btn-primary" href="{{ path('')}}">Back to List</a>
        </div>
        <div class="col-sm-4">
            {{ form(delete_form) }}
        </div>
        <div class="col-sm-12">

        <h1>Edit Pet</h1>
            {{ form(edit_form) }}
        </div>

    </div>

{% endblock %}
